textarea {
    width: 300px;
    display: inline;
}

input {
    display: block;

}


div.blueTable {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border: 0px solid #1A1FA4;
    background-color: #1ab394;
    width: 75%;
    height: 75%;
    text-align: center;
}
.divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead {
    border: 2px solid #1ab394;
    padding: 10px 10px;
}
.divTable.blueTable .divTableBody .divTableCell {
    font-size: 13px;
    font-weight: bolder;
    color: #1ab394;
}
.divTable.blueTable .divTableHeading {
    background: #3F3F44;
    border-bottom: 0px solid #444444;
}
.divTable.blueTable .divTableHeading .divTableHead {
    font-size: 13px;
    font-weight: bolder;
    color: ghostwhite;
    text-align: center;
}
.blueTable .tableFootStyle {
    font-size: 8px;
}

.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}

