<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contents</title>
    <link href="{{ url_for('static', filename='css/showwatchlist.css') }}" rel="stylesheet">
</head>
<body>


These are your stocks below:
<br>
<br>
<center>
    <div class="divTable blueTable">
        <div class="divTableHeading">
            <div class="divTableRow">
                <div class="divTableHead">StockID</div>
                <div class="divTableHead">Ticker</div>
            </div>
        </div>
        <div class="divTableBody">

            {% for item in data %}
                <tr>
                    <div class="divTableRow">
                        <div class="divTableCell">{{item[1]}}</div>
                        <div class="divTableCell">{{item[2]}}</div>
                    </div>
                </tr>
            {% endfor %}
        </div>
    </div>
</center>
</body>
</html>